<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Previsão</title>
</head>
<body>
    <h1>Formulário de Previsão</h1>
    <form method="post" action="/form">
        <label for="temperature">Temperatura:</label>
        <input type="text" name="temperature" id="temperature" required><br>

        <label for="pressure">Pressão:</label>
        <input type="text" name="pressure" id="pressure" required><br>

        <label for="humidity">Umidade:</label>
        <input type="text" name="humidity" id="humidity" required><br>

        <label for="winddirection">Direção do Vento (Em Graus):</label>
        <input type="text" name="winddirection" id="winddirection" required><br>

        <label for="speed">Velocidade:</label>
        <input type="text" name="speed" id="speed" required><br>

        <label for="month">Mês:</label>
        <input type="text" name="month" id="month" required><br>

        <label for="day">Dia:</label>
        <input type="text" name="day" id="day" required><br>

        <label for="hour">Hora:</label>
        <input type="text" name="hour" id="hour" required><br>

        <label for="minute">Minuto:</label>
        <input type="text" name="minute" id="minute" required><br>

        <label for="second">Segundo:</label>
        <input type="text" name="second" id="second" required><br>

        <label for="risehour">Hora do nascer do Sol no horizonte:</label>
        <input type="text" name="risehour" id="risehour" required><br>

        <label for="riseminute">Minuto do nascer do Sol no horizonte:</label>
        <input type="text" name="riseminute" id="riseminute" required><br>

        <label for="sethour">Hora do pôr do Sol no horizonte:</label>
        <input type="text" name="sethour" id="sethour" required><br>

        <label for="setminute">Minuto do pôr do Sol no horizonte:</label>
        <input type="text" name="setminute" id="setminute" required><br>

        <input type="submit" value="Prever">
    </form>
</body>
</html>